.inner
  .control-panel
    .control-panel-monitor
      .control-panel-inner-panel
        p phaser ammunition: 100%
        p hull integrity: 97%
        p nearest waymark star: BoRG-58
        p distance to destination: 18mLy
    .control-panel-controls
      .control-panel-inner-panel